.container {
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.options {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.options > button {
    height: 35px;
    font-size: 18px;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 450px;
}

.board-piece {
    font-size: 60px;
    height: 150px;
    width: 150px;
}

.scoreboard {
    text-align: center;
    font-size: 24px;
}